---
page_title: "{{.ProviderShortName}} Provider"
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.ProviderShortName}} Provider

{{ .Description | trimspace }}

## Example Usage

{{ tffile "examples/provider/provider-azure.tf" }}

{{ tffile "examples/provider/provider-msi.tf" }}

{{ tffile "examples/provider/provider.tf" }}

{{ .SchemaMarkdown | trimspace }}

## Author

Designed and developed by **Cédric Ghiot** ([cedric@weareretail.ai](mailto:cedric@weareretail.ai)) at **AWARE — Altogether We Are Retailers**.
